{
  "tabWidth": 2,
  "semi": true,
  "arrowParens": "avoid",
  "printWidth": 120,
  "bracketSpacing": true,
  "singleQuote": true,
  "svelteSortOrder": "options-scripts-markup-styles",
  "trailingComma": "none",
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-svelte"]
}
